// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.movie .movie__images {
position: relative;
border: 3px solid #ffd564;
}

.movie .movie__option {
font-size: 13px;
margin-bottom: 3px;
}
.movie .movie__info {
margin-left: -15px;
margin-right: -15px;
}
